.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    z-index: 9999;
    transition: opacity 0.5s ease, transform 0.5s ease;
    background-color: #007bff; /* Default background color */
  }
  
  .clear-button {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    font-weight: bold;
  }
  
  .fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s, transform 0.5s;
  }
  
  .fade-enter, .fade-leave-to {
    opacity: 0;
    transform: translateY(-20px);
  }